:root {
  --color-body: #e7f2f9;
  ;
  --color-base: #ffffff22;
  --color-base-light: #eeeeee44;

  --color-map-country: hsla(0, 0%, 100%, .6);
  --color-map-country-stroke: hsla(250, 100%, 50%, .5);

  --color-map-country-active: hsla(170, 90%, 55%, 1);
  --color-map-country-stroke-active: hsla(160, 90%, 40%, 0.75);

  --color-cta: linear-gradient(hsl(170, 100%, 60%), hsl(160, 90%, 55%));
  --color-cta-text: hsl(160, 80%, 15%);

  --color-text: #ffffff;
  --color-text-light: #ffffffdd;

  --color-border: #ffffff66;
}

/* :root {
  --color-body: #E4F9F5;

  --color-map-country: #939dd0;
  --color-map-country-active: #35c7b3;

  --color-cta: #0be5c8;
  --color-cta-text: #084b42;

  --color-text: #4a5171;
  --color-text-light: #616B9C;

  --color-border: #d4d9ef;
} */