:root {
  --size-1: calc(2rem / 16);
  --size-2: calc(4rem / 16);
  --size-3: calc(8rem / 16);
  --size-4: calc(12rem / 16);
  --size-5: calc(16rem / 16);
  --size-6: calc(20rem / 16);
  --size-7: calc(24rem / 16);
  --size-8: calc(32rem / 16);
  --size-9: calc(48rem / 16);
}