:root {
  --default-font-family: 'Boogaloo', cursive;
}

.font-label {
  font-family: inherit;
  font-weight: 900;
  font-size: var(--size-4);
}

.font-title {
  font-family: inherit;
  font-weight: 900;
  font-size: var(--size-8);
  letter-spacing: .5px;
  text-transform: uppercase;
}

.font-title-2 {
  font-family: inherit;
  font-weight: 900;
  font-size: var(--size-6);
  text-transform: uppercase;
}

.font-title-3 {
  font-family: inherit;
  font-weight: 900;
  font-size: var(--size-5);
}