.font-label {
  font-family: 'Passion One', cursive;
  font-size: var(--size-4);
  text-transform: uppercase;
  font-weight: 400;
}
.font-label-big {
  font-family: 'Passion One', cursive;
  font-size: var(--size-5);
  text-transform: uppercase;
  font-weight: 400;
}