.font-label {
  font-family: 'Passion One', cursive;
  font-size: var(--size-4);
  text-transform: uppercase;
  font-weight: 400;
}
.font-title {
  font-family: 'Passion One', cursive;
  font-size: var(--size-8);
  text-transform: uppercase;
  font-weight: 400;
}
.font-title-2 {
  font-family: 'Passion One', cursive;
  font-size: var(--size-6);
  text-transform: uppercase;
  font-weight: 400;
}
.font-title-3 {
  font-family: 'Passion One', cursive;
  font-size: var(--size-5);
  text-transform: uppercase;
  font-weight: 400;
}